.more {
    padding: 30px 0 60px 0;
    @media screen and (min-width: $breakpoint-md) {
        padding: 60px 0;
    }
    // .more__container
    &__container {
        padding: 0 30px;
        @media screen and (min-width: $breakpoint-md) {
            padding: 0;
        }
        @media screen and (min-width: $breakpoint-xl) {
            padding: 0 120px;
        }
    }

    // .more__box
    &__box {
        @media screen and (min-width: $breakpoint-lg) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .more__box-text
    &__box-text {
        @media screen and (min-width: $breakpoint-lg) {
            padding-right: 60px;
            flex: 1 0 60%;
        }
        @media screen and (min-width: $breakpoint-xl) {
            flex: 1 0 66%;
        }
        @media screen and (min-width: $breakpoint-xl) {
            flex: 1 0 73%;
        }
    }

    // .more__box-title
    &__box-title {
        padding-top: 30px;
        @media screen and (min-width: $breakpoint-lg) {
            padding-top: 0;
            align-self: flex-start;
        }
    }

    // .more__box-title-title
    &__box-title-title {
        margin-bottom: 0;
    }
}

