.active-text {
	color: $accent-color;
}

.about-us-header {

    // .about-us-header__main
    &__main {
        display: flex;
		flex-flow: column;
        color: $grey-text-color;
    }

    // .about-us-header__main-section-lang
    &__main-section-lang{
        background: $grey-bg-color;
    }

    // .about-us-header__lang-list-item
    &__lang-list-item {
        &:hover {
            background: $grey-bg-color;
        }
        &.active {
            color: #fff;
            background: $accent-color;
        }
    }

    // .about-us-header__main-section-phone
    &__main-section-phone {
        color: $grey-text-color;
    }

    // .about-us-header__facebook-icon
    &__facebook-icon {
        fill: $grey-text-color;
    }

    // .about-us-header__logo-link
    &__logo-link {
        @media screen and (min-width: $breakpoint-md) {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 0;
                right: -15px;
                height: 80%;
                width: 4px;
                background: $accent_color;
                transform: rotate(18deg);
            }
        }
    }

    // .about-us-header__logo-text
    &__logo-text{
        color: $main-color;
        &.logo-text {
            max-width: 159px;
            @media screen and (min-width: $breakpoint-md) {
                display: block;
                font-size: 36px;
                line-height: 44px;
            }
        }
    }

    // .about-us-header__logo-burger
    &__logo-burger{
        &:hover {
            background: $grey-separator-color;
        }
        &::before {
            color: $main-color;
        }
    }

    // .about-us-header__nav
    &__nav {
        background: $grey-bg-color;
    }
    
    // .about-us-header__nav-list
    &__nav-list{
        
    }

    // .about-us-header__list-item
    &__list-item {
        background: #fff;
        position: relative;
        &.active-text {
            &::before {
                display: none;
            }
        }
        @media screen and (min-width: $breakpoint-md) {
            &.active-text {
                &::before {
                    display: block;
                }
            }
            &::before {
                background: $active-regular;
            }
            &:hover::before {
                display: block;
                top: 100%;
                right: auto;
            }
            
        }
    }

    // .about-us-header__list-link
    &__list-link{
        @media screen and (min-width: $breakpoint-md) {
            color: $active-regular;
        }
        &.active-text {
            color: $accent-color;
        }
    }
}

