// --------------------------------------------------------------------------------------------------------------------------------------
.header-cards {
    

    // .header-cards__container
    &__container{
        padding: 0 30px;
        @media screen and (min-width: $breakpoint-md) {
            padding: 0;
        }
    }
    // .header-cards__box
    &__box {
        padding-bottom: 60px;
        font-weight: 700;
    }

    // .header-cards__box-link
    &__box-link {
        margin-bottom: 10px;
        text-transform: uppercase;
        @include caps-subtitle;
    }

    // .header-cards__link-item
    &__link-item {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $active-regular;
        transition: all .4s ease;

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: calc(100% + 6px);
            width: 6px;
            height: 6px;
            border-bottom: 2px solid $active-regular;
            border-left: 2px solid $active-regular;
            transform: rotate(-135deg);
        }
    }

    // .header-cards__box-title
    &__box-title {
        margin-bottom: 30px;
        @include title;
        @media screen and (min-width: $breakpoint-md) {
            margin-bottom: 60px;
            @include main-title;
        }
    }

    // .header-cards__box-title-main
    &__box-title-main {

    }

    // .header-cards__box-title-maint
    &__box-title-maint {

    } 

    // .header-cards__box-items
    &__box-items {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        gap: 30px;
        @media screen and (min-width: $breakpoint-md) {
            gap: 60px;
        }
    }

    // .header-cards__box-item
    &__box-item {
        flex: 1 1 100%;
        @media screen and (min-width: $breakpoint-md) {
            flex: 1 1 30%;
        }
        @media screen and (min-width: $breakpoint-lg) {
            flex: 1 1 25%;
        }
    }

    // .header-cards__box-item-icon
    &__box-item-icon {
        margin-bottom: 30px;
    }

    // .header-cards__box-item-subtitle
    &__box-item-subtitle {
        margin-bottom: 15px;
        color: $active-regular;
        @include subtitle;
    }

    // .header-cards__box-item-text
    &__box-item-text {
        font-weight: 400;
        color: #fff;
        @include paragraph;
    }
}

