.publications {
    margin-top: 20px;
    padding-bottom: 30px;
    @media screen and (min-width: $breakpoint-md) {
        margin-top: 60px;
    }

    // .publications__main
    &__main {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    // .publications__switch-box
    &__switch-box {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    // .publications__switch
    &__switch {
    }

    // .publications__switch-input
    &__switch-input {
        display: none;
        &:checked + .publications__switch-label::before {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
    }

    // .publications__switch-label
    &__switch-label {
        display: flex;
        align-items: center;
        width: 233px;
        height: 42px;
        background: $grey-separator-color;
        border-radius: 12px;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 116px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 10px;
            transition: .7s ease;
            z-index: 1;
        }
    }

    // .publications__switch-title
    &__switch-title {
        flex: 1 1 50%;
        text-align: center;
        z-index: 2;
        font-weight: 700;
        color: $main-color;
        @include pre-subtitle;
    }

    // .publications__card-item
    &__card-item {
        padding: 30px;
    }

    // .publications__cards-box
    &__more-cards {
        display: none;
    }

    // .publications__more-box
    &__more-box{
        display: flex;
        justify-content: center;

        input:checked + label{
            display: none;
        }
        input:checked + label + .publications__more-cards{
            display: flex;
        }
    }

    // .publications__checkbox
    &__checkbox {
        display: none;
    }
}
